$black: #000000;
$white: #ffffff;
$custom-primary: #003049;
$custom-accent: #d85353;
$custom-warn: #ff9d76;

$md-primary: (
    50 : #e0e6e9,
    100 : #b3c1c8,
    200 : #8098a4,
    300 : #4d6e80,
    400 : #264f64,
    500 : $custom-primary,
    600 : #002b42,
    700 : #002439,
    800 : #001e31,
    900 : #001321,
    A100 : #5da6ff,
    A200 : #2a8aff,
    A400 : #006ff6,
    A700 : #0063dd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #fbeded,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 :  #d85353,
    600 : #dc5e5e,
    700 : $custom-accent,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #fff3ef,
    100 : #ffe2d6,
    200 : #ffcebb,
    300 : #ffba9f,
    400 : #ffac8b,
    500 : $custom-warn,
    600 : #ff956e,
    700 : #ff8b63,
    800 : #ff8159,
    900 : #ff6f46,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff1ed,
    A700 : #ffddd4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
