@use '@angular/material' as mat;
//@import 'theme/_styles-theme.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}
//
//// Material overrides
//.mat-mdc-card {
//  &-header {
//    padding: 16px;
//  }
//
//  &-content {
//    padding: 16px !important;
//  }
//}
//
//// Custom scrollbar
//::-webkit-scrollbar {
//  width: 8px;
//  height: 8px;
//}
//
//::-webkit-scrollbar-track {
//  background: #f1f1f1;
//  border-radius: 4px;
//}
//
//::-webkit-scrollbar-thumb {
//  background: #888;
//  border-radius: 4px;
//
//  &:hover {
//    background: #666;
//  }
//}
//
