@use "@angular/material" as mat;
@use "./theme/_styles-theme" as m3;
@use "./theme/tic-theme" as custom;
@use "./theme/m3-theme" as tic;

@include mat.core();

html {

  // Apply the light theme by default
  @include mat.all-component-themes(tic.$light-theme);
  @include mat.core-theme(tic.$light-theme);
  @include mat.button-theme(tic.$light-theme);

  //@include mat.core-theme(m3.$tic-light-theme);
  //@include mat.button-theme(m3.$tic-light-theme);
}

html,
body {
  height: 100%;
  background: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tic-container{
  padding: 12px;
  margin-top: 60px;
}


.mat-drawer-inner-container{
  background-color: #f4f5f7;
}

.mat-mdc-card, .mat-mdc-table{
  background-color: white;
}
