<!-- About-->
<section class="page-section" id="about">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase headingColor">About</h2>
          <h3 class="section-subheading"><b>Trail International Contracting </b> is a Construction Company based on Doha, Qatar
              specializing in Road Construction Work, Earthworks, Hard & Soft Landscaping, Irrigation Works and Road Maintenance.
               Self-performing the majority of the work provides our management team with the control to provide the ultimate end product for our clients.
              Led by <b>Mr. Bill Zada</b> as a General Manager of the company with 30 years of experience in managing projects in USA and Middle East. Our highly developed sense of commitment to project success and owner satisfaction makes Trail International Contracting strive to efficiently and fully serve our clients.
              We are capable of completing any and all types of construction, and we take pride in distinguishing ourselves by maintaining the highest level of professionalism, honesty, integrity and fairness in our relationship with our Clients and Suppliers.
              <br/>
              Our company consist of different divisions that supply various services in the field of construction, sub-contracting and design. We have different divisions that will help our customers with the services they need:
              <ul class="row styleBullets">
                  <li class="col-lg-6 col-sm-6 mb-3">Trading Division</li>
                  <li class="col-lg-6 col-sm-6 mb-3">MEP Division</li>
                  <li class="col-lg-6 col-sm-6 mb-3">Civil Works Division</li>
                  <li class="col-lg-6 col-sm-6 mb-3">Maintenance Division</li>
              </ul>
          </h3>
      </div>

  </div>
</section>
