<section class="page-section" id="home">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase headingColor">Why Choose us?</h2>
          <h3 class="section-subheading">With our vast experience and highly qualified group of people in workforce and engineers backing up by our wide range of light and heavy equipments, promises our customers full satisfaction and fulfillment in a very cost effective way.
            Our team consist of experts from different areas and nationalities which helps us achieving greater success and prosperity. With our highly trained workforce or manpower, we can guarantee our clients with satisfactor work.
          </h3>
          <blockquote class="cw-blockquote">
            <p>&nbsp;&nbsp;We are committed to delivering exceptional, personalized and flexible services to our domestic customers. We understand our customer needs and will work hard to provide innovative, creative solutions.</p>
          </blockquote>
      </div>
      <div class="row text-center">
          <div class="col-md-4 homeBlock">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-users fa-stack-1x defaultFontColor"></i>
              </span>
              <h4 class="my-3">Customer Focus</h4>
              <p class="text-muted">We meet the needs of customers and are always responsive towards them. We view our customers with different prefernces in their work.</p>
          </div>
          <div class="col-md-4 homeBlock">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-heart fa-stack-1x defaultFontColor"></i>
              </span>
              <h4 class="my-3">Our Values</h4>
              <p class="text-muted">Our team consist of efficient and hardworking people who work honestly and are growth focused.</p>
          </div>
          <div class="col-md-4 homeBlock">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-lock fa-stack-1x defaultFontColor"></i>
              </span>
              <h4 class="my-3">Commitment</h4>
              <p class="text-muted">We are committed to guarantee our clients with satisfaction and provide full support on our work.</p>
          </div>
      </div>
  </div>
</section>
<app-about></app-about>
<app-services></app-services>
<app-gallery></app-gallery>
<app-team></app-team>
