<section class="page-section" id="services">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase headingColor">our services</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> --><br/>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="services-item">
                  <a class="services-link"  >
                      <div class="services-hover">
                          <div class="services-hover-content">
                            <p style="  text-align: center;">Asphalt works is a process of making surface roads, parking lots, airports, and the core of embankment dams using composite material.</p>
                          </div>
                      </div>
                      <img class="img-fluid" src="assets/img/services/Asphalt.jpg" alt="" />
                  </a>
                  <div class="services-caption">
                      <div class="services-caption-heading"><u class="word-underline">Asphalt Work</u></div>
                      <!-- <div class="services-caption-subheading text-muted">Illustration</div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="services-item">
                  <a class="services-link"  >
                      <div class="services-hover">
                          <div class="services-hover-content">
                            <p style="text-align: center;">Earth works are engineering works created through the moving and/or processing of massive quantities of soil or unformed rock. Earthwork is done to reconfigure the topography of a site to achieve the design levels.</p>
                          </div>
                      </div>
                      <img class="img-fluid" src="assets/img/services/EarthWorks.jpeg" alt="" />
                  </a>
                  <div class="services-caption">
                      <div class="services-caption-heading"><u class="word-underline">Earth Works</u></div>
                      <!-- <div class="services-caption-subheading text-muted">Graphic Design</div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="services-item">
                  <a class="services-link"  >
                      <div class="services-hover">
                          <div class="services-hover-content">
                            <p style="text-align: center;">It is a process of constructing of physically hard or soft materials to make architectural features in a garden design (or other landscaped area) such as paths, walls, fences, pergolas, patios, decking, water features etc.</p>
                          </div>
                      </div>
                      <img class="img-fluid" src="assets/img/services/landscaping.png" alt="" />
                  </a>
                  <div class="services-caption">
                      <div class="services-caption-heading"><u class="word-underline">Soft & Hard Landscaping Works</u></div>
                      <!-- <div class="services-caption-subheading text-muted">Identity</div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
            <div class="services-item">
                <a class="services-link">
                    <div class="services-hover">
                        <div class="services-hover-content">
                          <p style="text-align: center;">Irrigation works is constructed or maintained by the competent authority for abstracting, distributing or using water for irrigation purposes.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/services/IrrigationWorks.jpg" alt="" />
                </a>
                <div class="services-caption">
                    <div class="services-caption-heading"><u class="word-underline">Irrigation Works</u></div>
                    <!-- <div class="services-caption-subheading text-muted">Branding</div> -->
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
              <div class="services-item">
                  <a class="services-link"  >
                      <div class="services-hover">
                          <div class="services-hover-content">
                          <p style="  text-align: center;">It is a process in which a device or a material is used on a road surface in order to convey official information; they are commonly placed with road marking machines.</p>
                          </div>
                      </div>
                      <img class="img-fluid" src="assets/img/services/RoadMarking.jpg" alt="" />
                  </a>
                  <div class="services-caption">
                      <div class="services-caption-heading"><u class="word-underline">Road Marking Works</u></div>
                      <!-- <div class="services-caption-subheading text-muted">Website Design</div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="services-item">
                  <a class="services-link">
                      <div class="services-hover">
                          <div class="services-hover-content">
                            <p style="text-align: center;">It is used to describe the process of making interior spaces suitable for occupation. It is often used in relation to office developments, where the base construction is completed by the developer, and the final fit out by the occupant</p>
                          </div>
                      </div>
                      <img class="img-fluid" src="assets/img/services/building.png" alt="" />
                  </a>
                  <div class="services-caption">
                      <div class="services-caption-heading"><u class="word-underline">Villa Construction & Building Fitouts</u></div>
                      <!-- <div class="services-caption-subheading text-muted">Branding</div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
