<mat-drawer-container hasBackdrop="false">
  <mat-drawer #drawer mode="side" opened>

  <span routerLink="/dashboard">
    <img class="logo" src="./assets/icons/svg/TIC-logo.svg" alt=""/>
<!--    <span class="logoTitle">TICKETING</span>-->
  </span>
    <mat-nav-list>
      <div class="tic-side-nav">
        <a class="nav-link" mat-list-item routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
          <div class="side-module-link">
            <mat-icon>dashboard</mat-icon>
            <span class="menu-link">Dashboard</span>
          </div>
        </a>
        <a class="nav-link" mat-list-item routerLink="ticket/overview">
          <div class="side-module-link">
            <mat-icon>library_books</mat-icon>
            <span class="menu-link">Ticketing</span>
          </div>
        </a>
        <a mat-list-item>
          <div class="side-module-link">
            <mat-icon>content_paste</mat-icon>
            <span class="menu-link">Table List</span>
          </div>
        </a>
        <a mat-list-item>
          <div class="side-module-link">
            <mat-icon>location_on</mat-icon>
            <span class="menu-link">Maps</span>
          </div>
        </a>
        <a mat-list-item>
          <div class="side-module-link">
            <mat-icon>calendar_today</mat-icon>
            <span class="menu-link">Calendar</span>
          </div>
        </a>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="content-spacing">
    <div class="sidebar-toggle-container">
      <button mat-mini-fab color="primary" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
