<section class="page-section" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase headingColor">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">We work without intermediaries, which improves the process of creating the necessary result in the shortest possible time.</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/BillZada1.jpeg" alt="" />
                    <h4>Bill Zada</h4>
                    <p class="text-muted">General Manager</p>
                    <!-- <p class="text-muted">bill.zada@ticqatar.com</p> -->
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/SalmanAli.png" alt="" />
                    <h4>Salman Ali Gharib</h4>
                    <p class="text-muted">Project Director</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="" />
                    <h4>Jane Doe</h4>
                    <p class="text-muted">Lead </p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">We provide an individual approach to each client. Our team performs assigned tasks regardless of the season, coordinating the schedule with the customers, taking into account their wishes and recommendations. </p></div>
        </div>
    </div>
</section>
