<!-- Navigation-->
<div class="container-fluid fixed-top mainNavTop" id="mainNav">
    <div class="row pull-right">
        <span class="topNavText1"><small><i class="fas fa-phone fa-stack-1x iconTop1"></i>&nbsp;+974-40020630</small></span>
        <span class="topNavText2"><small><i class="fas fa-envelope fa-stack-1x iconTop2"></i>&nbsp;info@ticqatar.com</small></span>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="margin-top: 2rem;">
    <div class="container-fluid">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
              <img class="logo1" src="assets/img/logos/logo1.jpg" alt="" />
              <img class="logo2" src="assets/img/logos/logo2.png"  alt="" />
          </a>
          <button class="navbar-toggler navbar-toggler-right" height="10" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fas fa-bars ml-1"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ml-auto">
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#home">Home</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#gallery">Projects</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
              </ul>
          </div>
      </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container-fluid sliderBg">
        <div class="masthead-subheading">Welcome!</div>
        <div class="masthead-heading text-uppercase">We build road to the future!</div>
        <a class="btn defaultBgColor btn-xl text-uppercase js-scroll-trigger btnEffect" href="#services">Tell Me More</a>
    </div>
</header>
