<!-- gallery Grid-->
<section class="page-section bg-light" id="gallery">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase headingColor">Featured Works</h2>
            <br/>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="gallery-item">
                    <img class="img-fluid" src="assets/img/gallery/1.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="gallery-item">
                    <img class="img-fluid" src="assets/img/gallery/2.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="gallery-item">
                    <img class="img-fluid" src="assets/img/gallery/6.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="gallery-item">
                    <img class="img-fluid" src="assets/img/gallery/10.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="gallery-item">
                    <img class="img-fluid" src="assets/img/gallery/3.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="gallery-item">
                    <img class="img-fluid" src="assets/img/gallery/9.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 mb-12">
                <div class="viewMore pull-right">
                    <a routerLink="/gallery" routerLinkActive="active" class="viewMore">View More...<i class="fas fa-arrow-circle-right fa-stack-1x iconGallery"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
