<!-- gallery Grid-->
<footer class="page-section" id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
              <div class="footerContent">
                <h4 class="footerHead"><i><u class="word-underline">Trail International Contracting</u></i></h4>
                <small>Our highly developed sense of commitment to project success and owner satisfaction makes Trail International Contracting strive to efficiently and fully serve our clients. We are capable of completing any and all types of construction, and we take pride in distinguishing ourselves by maintaining the highest level of professionalism, honesty, integrity and fairness in our relationship with our Clients and Suppliers.</small>
              </div>
            </div>
            <div class="col-lg-3 col-sm-5 mb-3">
              <div class="footerContent">
                  <span class="footerAddress">
                    <h5>
                      <i class="fas fa-map-marked-alt fa-stack-1x footerHead"></i>
                      <small class="spaceContent"><br/>C.r.No: 127909 Bldg No. 175<br/>
                          Str.No. 995<br/>
                          P.O Box 47033<br/>
                          Abu Hamour, Doha, Qatar<br/>
                          <i class="fas fa-phone fa-stack-1x footerIcon2"></i>: 4002 0630<br/>
                          <i class="fas fa-envelope fa-stack-1x footerIcon2"></i>: info@ticgatar.com
                        </small>
                    </h5>
                </span>
              </div>
            </div>
            <div class="col-lg-5 col-sm-7 mb-5">
              <div class="footerContent">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d225.49691925155656!2d51.52529766671894!3d25.27224354800682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c54ff7593a8b%3A0x88577a25e3ec5ba9!2sAl%20Muntazah%20Trading%20Centre!5e0!3m2!1sen!2sus!4v1615286579115!5m2!1sen!2sus" style="border:0;height:300px;width:100%;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footerBottom">
          <div class="footerText">
            <small>2021 <i class="fas fa-copyright fa-stack-1x iconFooter"></i> Copyright Website TIC</small>
          </div>
      </div>
</footer>
<!-- <div class="container-fluid footerBottom">
    <div class="row">
      <div class="col-lg-6 col-sm-6 mb-6">
        <span class="footerText1"><small><i class="fas fa-copyright fa-stack-1x iconFooter1"></i>&nbsp;+974-40020630</small></span>
      </div>
      <div class="col-lg-6 col-sm-6 mb-6">
        <span class="footerText2"><small><i class="fas fa-envelope fa-stack-1x iconFooter2"></i>&nbsp;info@ticqatar.com</small></span>
      </div>
    </div>
</div> -->
